body {
  font-family: 'Lobster', cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 0 3rem;
  font-size: 1.5rem;
}

nav h1 {
  font-size: 4rem;
  font-weight: lighter;
  margin: 0;
}

.navbar {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.links {
  color: blue;
  text-decoration: underline;
}

.links:hover {
  color: red;
}

.links:active {
  color: blue;
}

.border {
  border-right: 1px solid black;
  padding-right: 20px;
}

.home {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
}

.home h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
}

.home p {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.col-1 {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.col-2 {
  flex: 2;
  width: 50%;
}

.qoutes {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 230px 0;
  font-size: 2rem;
  text-align: center
}
